HF_TOKEN=your_token_here         # Hugging face token needed to pull gated models like Gemma
MODEL_ID=model_id_here           # e.g. "google/gemma-2b-it"
VOICE_MODEL_ID=voice_model_id_here           # model for narrating the stories e.g. "openbmb/VoxCPM2"
QUANTIZE_4BIT=true               # Configured to quantize or not, recommended true for local dev
VRAM_SWAP=true   # true locally, false on HF Spaces/A100
NARRATOR_DEVICE=cpu/cuda  # text to voice cpu for local dev and cuda for GPU
TEXT_DEVICE=cpu/cuda  # text generation cpu for local dev and cuda for GPU

